



body{ margin: 0;}

ul { width: 200px; list-style-type: none;} /*Faire disparaître les puces*/


#CV { display: flex; flex-direction: column; }

#ensemble-des-blocks { display: flex; /*Permet d'aligner les blocks: le block1; */}

#block-gauche {position: relative; width: 30%; height: 1800px; padding-top: 100px;} 

#img { display: block; width: 250px; margin-left: 85px; border-radius: 100%;} /*image C.V */


#block-droite { background-color: #ffffff; width: 70%; padding-top: 60px; padding-left: 30px; padding right: 30px; height: 100%;}

