



body{ margin: 0;}

ul { width: 200px; list-style-type: none;} /*Faire disparaître les puces*/


#CV { display: flex; flex-direction: column; }

#ensemble-des-blocks { display: flex; /*Permet d'aligner les blocks: le block1; */}

#block-gauche {position: relative; width: 30%; height: 1800px; padding-top: 100px;} 

#img { display: block; width: 250px; margin-left: 85px; border-radius: 100%;} /*image C.V */


#block-droite { background-color: #ffffff; width: 70%; padding-top: 60px; padding-left: 30px; padding right: 30px; height: 100%;}

#blockLoisirs { position: absolute; bottom: 45px; width: 100%;}

#blockLoisirs h2 { margin-bottom: 40px; }

.title { text-align-last: center; width:100%; background-color: #263238;}

.text-light-green { color: #4CAF50;}

.marge { margin-top: 40px; }

.loisirs { display: flex; }

/*.fa-book-reader { border: 2px; padding: 4px; border-radius: 100%; margin-left: 50px;}*/

/*.fa-laptop-code { margin-left: 50px; margin-bottom: 100px; border: 2px; padding: 4px; border-radius: 100%;}*/

.fa-briefcase {margin-top: 19px; margin-left: 40px; font-size: 1.5em } /*<i class=" fa-edit"></i>*/

.fa-edit {margin-top:80px; margin-left: 40px; font-size: 1.5em;}

.bg-light-green { background-color: #4CAF50;}

.nom-prénom { display: flex; margin-top: 50px;}

.prénom { font-size: 3em; color: #4CAF50; margin-left: 50px;}

.nom { font-size: 3em; margin-left: 50px;}

.bagneux { width: 80%; text-align: justify; }

.marge-dev { margin-top: -20px; margin-left: 120px; font-size: 2em; margin-bottom: 0px; }

.trait-dev { height: 1px; margin-left: 12.5%; margin-right: 80%;}

.trait { height: 1px; margin-left: 3%; margin-right: 3%;}

.flex { display: flex;}

.fa-user-graduate { margin-top: 130px; margin-left: 40px; font-size: 1.5em}

.marge-puce { padding-left: 40px;}

.marge-paragraphe { margin-left: 20px;}

.marge-cercle { margin-left: 40px; margin-top: 15px; }

.marge-liste { padding-left: 10px;}

.marge-recommandation { margin-top: 80px; margin-left: 20px;}

.marge-expérience { margin-left: 20px;}

.marge-à-propos {margin-top: 60px; margin-bottom: 50px; padding-left: 30px; padding-right: 30px; text-align: justify;}

.coordonnées { margin-top: 80px; margin-bottom: 80px; padding-right: 50px; padding-left: 70px;}

.marge-formation { margin-top: 130px; margin-left: 20px; font-size: 1.5em;}

.loisirs-couleurs{ width: 60px; height: 60px; border:#263238 2px solid; padding: 10px; border-radius: 100%; color:#263238;}

.fa-circle { font-size: 0.7em;}

.fa-dot-circle { font-size: 0.8em;}

.marge {margin-right: 150px;}

.logos {margin:auto; text-align: center;}

.flex-marge { display: flex; margin-top: 20px; margin-bottom: 20px;}

#nom-responsive {display: none;}

@media all and (min-width: 200px) and (max-width: 1024px)

{

 #CV { margin-bottom: 200px }

 #blockLoisirs { position: initial; bottom: 0px;}

 #block-gauche {height: 1200px;}

 #img {margin: auto;}

 .invisible { display: none; }

 .nom-prénom { display: none;}

 .coordonnées {margin: auto; padding-left: 360px;}

 .trait-dev { height: 1px; margin-left: 12.5%; margin-right: 78%;}

 .bagneux { width: 87%; text-align: justify; }
 
 .trait { margin-right: -33%;}

 .marge-à-propos {width: 70%; margin-top: 80px; margin-bottom: -25px; padding-left: 125px; padding-right: 30px; text-align: justify;}

 #ensemble-des-blocks { flex-direction: column;}

  #nom-responsive {display: block; margin-bottom: 50px}

  #block-gauche { width: 100%;}
}

@media all and (min-width: 1024px) and (max-width: 1100px)
{
 .trait-dev { height: 1px; margin-left: 12%; margin-right: 80%;}
}



/* Création de cercle en CSS 
.fa-circle
{
	border: 2px red solid;
	padding: 4px;
	border-radius: 100%;
}*/