




/* déclaration d'un style de police*/
@font-face {
    font-family: 'comic_reliefregular';
    src: url('fonts/ComicRelief-webfont.eot');
    src: url('fonts/ComicRelief-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ComicRelief-webfont.woff2') format('woff2'),
         url('fonts/ComicRelief-webfont.woff') format('woff'),
         url('fonts/ComicRelief-webfont.ttf') format('truetype'),
         url('fonts/ComicRelief-webfont.svg#comic_reliefregular') format('svg');
    font-weight: normal;
    font-style: normal;

}





	body{ margin: 0;}

	ul { list-style-type: none;} /*Faire disparaître les puces*/

	#CV { display: flex; flex-direction: column; }

	#ensemble-des-blocks { display: flex; /*Permet d'aligner les blocks gauche et droit */}

	header {position: relative; width: 31%; height: 1840px; padding-top: 23vw;} 

	#img { display: block; width: 60%; border-radius: 100%; margin: auto;} /*image C.V */

	#block-droite { background-color: #ffffff; width: 70%; padding-top: 60px; padding-left: 30px; padding-right: 30px; height: 100%;}

	#blockLoisirs { position: absolute; bottom: 45px; width: 100%;}

	#blockLoisirs h2 { margin-bottom: 40px; }

	h1 { font-family: 'comic_reliefregular'; }
		
	.title {  margin-top: 1vw; margin-bottom: 2vw; text-align-last: center; width:100%; background-color: #263238;}

	.text-light-green { font-family: 'comic_reliefregular'; color: #4CAF50;}

	.marge { margin-top: 40px; }

	.loisirs { display: flex; } 

	.fa-briefcase {  margin-top: 1.7vw; margin-left: 40px; font-size: 1.5em } /*<i class=" fa-edit"></i>*/

	.fa-edit { margin-top: 5.8vw; margin-left: 40px; font-size: 1.5em;}

	.bg-light-green { background-color: #4CAF50;}

	.nom-prénom { font-family: 'comic_reliefregular';  display: flex; margin-top: 2vw;}

	.prénom { font-size: 5vw; color: #4CAF50; margin-left: 13vw;}

	.nom {  font-family: 'comic_reliefregular'; font-size: 4vw; margin-left: 2vw; margin-top: 0.9vw;}

	.bagneux { width: 80%; text-align: justify; }
	
	.marge-dev { font-family: 'comic_reliefregular'; margin-top: -1vw; margin-left: 18.8vw; font-size: 2.3vw; margin-bottom: 0px;  }

	.trait-dev {margin-left: 17vw; margin-right: 43vw; margin-top: -0.2vw;}

	.trait { height: 1px; margin-left: 3%; margin-right: 3%; margin-top: -0.5vw;}

	.flex { display: flex;}

	.inline {  width: 6vw;  }

	.fa-user-graduate { margin-top: 9.3vw; margin-left: 40px; font-size: 1.5em}

	.marge-puce { padding-left: 1vw; width: 7vw;}

	.marge-date { width: 6vw; } 

	.marge-resp { font-family: 'comic_reliefregular'; }
		
	.marge-paragraphe { margin-left: 11vw;}
 
	.marge-cercle { margin-left: 40px; margin-top: 15px; }

	.marge-liste { padding-left: 1vw;}

	.marge-recommandation { margin-top: 80px; margin-left: 20px;}

	.marge-expérience { margin-left: 20px;}

	.marge-à-propos { font-family: 'comic_reliefregular';  margin-top: 60px; margin-bottom: 50px; padding-left: 30px; padding-right: 30px; text-align: justify;}

	.coordonnées { font-family:'comic_reliefregular'; width:87%; text-align: center;}

	.resp-marge-contact {  margin-left: -2vw }

	.marge-fa-arrow { margin-left: 7vw;}

	.marge-formation { margin-top: 130px; margin-left: 20px; font-size: 1.5em;}

	.loisirs-couleurs{ width: 60px; height: 60px; border:#263238 2px solid; padding: 10px; border-radius: 100%; color:#263238;}

	/* Création de cercle en CSS : 
	.fa-circle { border: 2px red solid; padding: 4px; border-radius: 100%;}*/

	.fa-circle { font-size: 0.7em;}

	.fa-dot-circle { font-size: 0.8em;}

	.marge {margin-right: 150px;}

	.logos {margin:auto; text-align: center; font-size: 3.4vw}

	.flex-marge { display: flex; font-family:'comic_reliefregular';margin-top: 1vw; margin-bottom: 3vw;}

	#nom-responsive {display: none;}
	


@media all and (min-width: 320px) and (max-width: 767px)
{  

	#ensemble-des-blocks { display: flex; flex-direction: column; width: 114%; /*Permet d'aligner les blocks gauche et droit */}
	
	header {flex-direction: column; height: 1380px; width: 100%;  padding-top: 45px;}
	
	#block-droite { width: 100%; padding-left: 0px; padding-right: 0px }
	
	#img {width: 50vw; border-radius: 100%; margin: auto;}
	
 	#nom-responsive { display: block; margin-left: 20vw; }
	
	.nom-prénom { display: none; }
	
	.prénom { font-size: 9vw; margin-left: 0%; margin-right: 0%; }
	
	.trait-dev { margin-top: 0vw; margin-bottom: 10vw; height: 0px; margin-left: 4.5vw; margin-right: 61vw;}

	.loisirs-couleurs{ width: 14vw; height: 14vw;}
	
	.trait { margin-left: 6%; margin-right: 6%;}
	
	.nom {font-size: 8vw; margin-left: 0px; margin-right: 0px; }
	
	.flex-marge {flex-direction: column;}
	
	h2 { font-size: 5vw !important;}
	
	.invisible {display:none;}
	
	.marge-dev {font-weight: normal; ;font-size: 6vw; margin-left: -6vw; text-align: center; margin-top: -5vw;}
	
	.bagneux {width: 90%;  margin-left: 0%; text-align: justify;}
	
	.marge-puce li{ margin-top: -1.5%; }
	
	.marge-puce { padding-left: 12vw; margin-top: 4vw; width: 51vw; }
	
	.icône-resp { margin-top: 0%; margin-left: 7%;}
	
	.marge-resp { margin-top: 4px; margin-left: 20px; }
	
	.inline {display: inline;}
	
	.resp-marge{ margin-top: -8.2%; margin-left: 7% }

	.marge-2018 { margin-left: 20.6vw; }
	
	.marge-paragraphe {margin-left: 18%;}
	
	.resp-marge-top {margin-top: 0%;}
	
	.marge-liste { margin-top:-6.1%; margin-left: 17%;}

	.marge-date { width: 27vw; }
	
	.resp-marge-contact { margin-top: -6%; margin-left: 7%; }

	.fa-laptop-code {margin-top: 7%; margin-left: -2%; font-size: 11vw;}

	.fa-edit { margin-top: 1vw; }

	.fa-book-reader { font-size: 12vw;}

	.fa-briefcase { margin-top: 0.5%; }

	.fa-running {font-size: 12vw;}
 	
 	.fa-arrow-alt-circle-right { margin-left: -5vw; }

}


@media all and (min-width: 768px) and (max-width: 1024px)

{  
	#ensemble-des-blocks {width: 114%;}

	#block-gauche { height: auto; width: 38%; padding-top: 26vw;}

	#block-droite { width: 88%; padding-left: 0px; padding-right: 0px; padding-bottom: 4vw; }

	#img {width: 18vw; margin-top: 2vw; margin-left: 8vw;}

	.nom-prénom { margin-left: -4vw; display: block; margin-top: 4%; }

	.prénom { font-size: 6vw; margin-left: 28%;}

	.trait-dev { height: 0px; margin-left: 30.8%; margin-right: 59%; margin-bottom: 17%; margin-top: -13vw;}

	.trait { margin-top: -2%; margin-left: 7%; margin-right: 6%;}

	.nom {font-size: 5vw; margin-left: 0px; }

	h2 { font-size: 2.7vw !important;}

	.flex { margin-top: -7vw; display: flex; }

	.marge-resp-2018 { margin-left: 11vw; }

	.marge { margin-top: 30px; }

	.marge-cercle { margin-top: 14px; }

	.marge-bts { margin-left: 10.6vwvw; }

	.marge-formation {margin-top: 5%; margin-left: 20px;}

	.marge-expérience { margin-top: 5%; margin-left: 20px; }

	.marge-top-expérience {  margin-top: 7%; }

	.marge-recommandation {margin-top: 10.5vw; margin-left: 20px;}

	.resp-marge-contact {  margin-left: -6vw; }

	.marge-2018 {margin-left: 9.6vw;}

	.marge-2019 {  margin-left: 11.3vw; }

	.marge-date { width: 12vw; }

	.resp-marge-contact {  margin-left: -12% }

	.marge-dev {margin-bottom: 13vw; font-size: 3vw; margin-left: 10%; text-align: center; margin-top: -2vw;}

	.bagneux {width: 90%;  margin-left: 0%; text-align: justify;}

	.marge-puce { margin-left: : -27%; padding-left: 2vw; width: 12vw;}

	.icône-resp { margin-top: 5%; margin-left: 7.5%;}

	.marge-resp { margin-top: 42px margin-left: 20px }

	.inline {display: inline;}

	.resp-marge2019{  margin-top: -8.8%;margin-left: -4%}

	.marge-li-2019  { width: 11vw; }

	.resp-marge2018{ margin-top: -8.8%; margin-left: -4%; }

	.resp-marge2007{ margin-top: -8.8%; margin-left: -4% }

	.marge-2013 { margin-left: 11vw; }

	.marge-contact { width: 32vw; }
	
	.resp-marge-top {margin-top: 0%;}

	.marge-liste{  margin-top: 7%; margin-left: 1%; }

	.responsive-contact {  margin-top: 2.3vw; margin-left: -1%;}

	.loisirs-couleurs {width: 6vw; height: 6vw;}

	.responsive-taille { font-size: 12vw; }

	.fa-book-reader {  margin-top: 0.4vw; font-size: 5vw; margin-right:0vw }

	.fa-user-graduate { margin-top: 4.3vw; }

	.fa-edit { margin-top: 10.9vw; }
	
	.fa-laptop-code {margin-top: 6%; margin-left: -3%; font-size: 5vw;}

	.fa-briefcase { margin-top: 4.2vw;  }

	.fa-running { margin-top: -5%; font-size: 6vw; margin-left: -5%; }
 	
 	.fa-arrow-alt-circle-right { margin-left: 1vw; }

 	.responsive-marge { margin-top: 0.7vw;}
}



@media all and (min-width: 1025px) and (max-width: 1440px)
{


	#block-gauche { height: auto;   } 

	#img {width: 15vw; margin-top: -2vw;}

	.responsive-taille { font-size: 3vw; margin-top: 7%; }

	.loisirs-couleurs {width: 4vw; height: 4vw}

	.prénom {margin-left: 12vw; font-size: 5vw;}

	.nom {font-size: 4vw; margin-left: 2vw; margin-top: 1vw }

	marge-dev {margin-left: 20vw; }

	trait-dev { margin-left: 20vw; margin-right: 41vw }

	.trait {margin-left: 4%; margin-right: 4%; }

	.marge-resp{ margin-bottom: 1%;}

} 