body{ margin: 0;}

ul { width: 200px; list-style-type: none;} /*Faire disparaître les puces*/


#CV { display: flex; flex-direction: column; }

#ensemble-des-blocks { display: flex; /*Permet d'aligner les blocks: le block1; */}

#block-gauche {position: relative; width: 30%; height: 1840px; padding-top: 100px;} 

#img { display: block; width: 60%; border-radius: 100%; margin: auto;} /*image C.V */

#block-droite { background-color: #ffffff; width: 70%; padding-top: 60px; padding-left: 30px; padding-right: 30px; height: 100%;}

#blockLoisirs { position: absolute; bottom: 45px; width: 100%;}

#blockLoisirs h2 { margin-bottom: 40px; }

.title { text-align-last: center; width:100%; background-color: #263238;}

.text-light-green { color: #4CAF50;}

.marge { margin-top: 40px; }

.loisirs { display: flex; } 

.fa-briefcase {margin-top: 19px; margin-left: 40px; font-size: 1.5em } /*<i class=" fa-edit"></i>*/

.fa-edit {margin-top:80px; margin-left: 40px; font-size: 1.5em;}

.bg-light-green { background-color: #4CAF50;}

.nom-prénom { display: flex; margin-top: 50px;}

.prénom { font-size: 3em; color: #4CAF50; margin-left: 50px;}

.nom { font-size: 3em; margin-left: 50px;}

.bagneux { width: 80%; text-align: justify; }

.marge-dev { margin-top: -20px; margin-left: 120px; font-size: 2em; margin-bottom: 0px; }

.trait-dev { height: 1px; margin-left: 12.5%; margin-right: 80%;}

.trait { height: 1px; margin-left: 3%; margin-right: 3%;}

.flex { display: flex;}

.fa-user-graduate { margin-top: 130px; margin-left: 40px; font-size: 1.5em}

.marge-puce { padding-left: 40px;}

.marge-paragraphe { margin-left: 20px;}

.marge-cercle { margin-left: 40px; margin-top: 15px; }

.marge-liste { padding-left: 40px;}

.marge-recommandation { margin-top: 80px; margin-left: 20px;}

.marge-expérience { margin-left: 20px;}

.marge-à-propos {margin-top: 60px; margin-bottom: 50px; padding-left: 30px; padding-right: 30px; text-align: justify;}

.coordonnées { margin:auto; width:280px;}

.marge-formation { margin-top: 130px; margin-left: 20px; font-size: 1.5em;}

/* Création de cercle en CSS 
.fa-circle
{ border: 2px red solid; padding: 4px; border-radius: 100%;}*/

.loisirs-couleurs{ width: 60px; height: 60px; border:#263238 2px solid; padding: 10px; border-radius: 100%; color:#263238;}

.fa-circle { font-size: 0.7em;}

.fa-dot-circle { font-size: 0.8em;}

.marge {margin-right: 150px;}

.logos {margin:auto; text-align: center;}

.flex-marge { display: flex; margin-top: 20px; margin-bottom: 20px;}

#nom-responsive {display: none;}






@media all and (min-width: 320px) and (max-width: 767px)
{  

	#ensemble-des-blocks { display: flex; flex-direction: column; width: 114%; /*Permet d'aligner les blocks: le block1; */}
	
	#block-gauche {flex-direction: column; height: 1200px; width: 100%;  padding-top: 45px;}
	
	#block-droite { width: 100%; padding-left: 0px; padding-right: 0px }
	
	#img {width: 50vw; border-radius: 100%; margin: auto;}
	
 	#nom-responsive { display: block; }
	
	 .nom-prénom { display: none; }
	
	 .prénom { font-size: 9vw; margin-left: 19%; margin-right: 0%; }
	
	 .trait-dev { height: 1px; margin-left: 18.5%; margin-right: 63%; margin-bottom: 7%;}

	 .loisirs-couleurs{ width: 50px; height: 50px;}
	
	 .trait { margin-left: 6%; margin-right: 6%;}
	
	 .nom {font-size: 9vw; margin-left: 0px; margin-right: 0px; }
	
	 .flex-marge {flex-direction: column;}
	
	 h2 { font-size: 5vw !important;}
	
	 .invisible {display:none;}
	
	 .marge-dev { font-size: 7vw; margin-left: 15%; text-align: center;}
	
	 .bagneux {width: 90%;  margin-left: 0%; text-align: justify;}
	
	 .marge-puce li{ margin-right: 1px; margin-top: -1.5%; }
	
	 .icône-resp { margin-top: 0%; margin-left: 7%;}
	
	 .marge-resp { margin-top: 4px; margin-left: 20px; }
	
	 .inline {display: inline;}
	
	 .resp-marge2019{margin-top: -8.2%; margin-left: 7%}
	
	 .resp-marge2018{ margin-top: -8%; margin-left: 7%; }
	
	 .resp-marge2007{ margin-top: -8.3%; margin-left: 7% }
	
	 .marge-paragraphe {margin-left: 18%;}
	
	 .resp-marge-top {margin-top: 0%;}
	
	 .marge-liste {  margin-top: -5%; margin-left: 24px;}
	
	 .resp-marge-contact { margin-top: -5%; margin-left: 7%; }

	.fa-laptop-code {margin-top: 7%; margin-left: -2%; font-size: 11vw;}

	.fa-book-reader { font-size: 12vw;}

	.fa-running {font-size: 12vw;}
 	
 	.fa-arrow-alt-circle-right { margin-left: -5vw; }

}


@media all and (min-width: 768px) and (max-width: 1024px)

{  

	#ensemble-des-blocks {width: 114%;}

	#block-gauche { height: 250vw; width: 36%;  padding-top: 45px;}

	#block-droite { width: 88%; padding-left: 0px; padding-right: 0px }

	#img {width: 22vw; margin-top: 2vw; margin-left: 20%}

	.nom-prénom { display: block; margin-top: 4%; }

	.prénom { font-size: 7vw; margin-left: 16%;}

	.trait-dev { height: 1px; margin-left: 25.5%; margin-right: 63%; margin-bottom: 13%; margin-top: -17%;}

	.trait { margin-top: -3%; margin-left: 7%; margin-right: 6%;}

	.nom {font-size: 6vw; margin-left: 0px; }

	h2 { font-size: 3vw !important;}

	.marge { margin-top: 30px; }

	.marge-formation {margin-top: 5%; margin-left: 20px}

	.marge-expérience { margin-top: 5%; margin-left: 20px; }

	.marge-top-expérience {  margin-top: 7%; }

	.marge-recommandation {margin-top: 30px; margin-left: 20px;}

	.resp-marge-contact {  margin-left: -6vw; }

	.resp-marge-contact {  margin-left: -7% }

	.marge-dev {margin-bottom: 13vw; font-size: 3.7vw; margin-left: 4%; text-align: center; margin-top: -2vw;}

	.bagneux {width: 90%;  margin-left: 0%; text-align: justify;}

	.marge-puce { margin-left: : -27%; margin-top: 28.5%; }

	.icône-resp { margin-top: 5%; margin-left: 7.5%;}

	.marge-resp { margin-top: 42px margin-left: 20px }

	.inline {display: inline;}

	.resp-marge2019{  margin-top: -8.8%;margin-left: -4%}

	.resp-marge2018{ margin-top: -8.8%; margin-left: -4%; }

	.resp-marge2007{ margin-top: -8.8%; margin-left: -4% }

	.marge-paragraphe {margin-left: -7%;}

	.resp-marge-top {margin-top: 0%;}

	.marge-liste{  margin-top: 7%; margin-left: -7%; }

	.responsive-contact {  margin-top: 2.8%; margin-left: -1%;}

	.loisirs-couleurs {width: 6vw; height: 6vw;}

	.responsive-taille { font-size: 12vw; }

	.fa-book-reader {  margin-top: -7%; font-size: 6vw; margin-right: -3%; }

	.fa-laptop-code {margin-top: 6%; margin-left: -3%; font-size: 5vw;}

	.fa-running { margin-top: -5%; font-size: 6vw; margin-left: -5%; }
 	
 	.fa-arrow-alt-circle-right { margin-left: 1vw; }
}





@media all and (min-width: 1024px) and (max-width: 1025px) 
{

	#block-gauche { height: 173vw !important;}

	.fa-edit {margin-top: 4%; margin-left: 7.5%; }

	.trait-dev {  margin-left: 27%; margin-right: 61%; margin-bottom: 13%; margin-top: -16%;  }

}





@media all and (min-width: 1025px) and (max-width: 1440px)
{


	#img {width: 15vw; margin-top: -2vw;}

	.responsive-taille { font-size: 3vw; margin-top: 7%; }

	.loisirs-couleurs {width: 4vw; height: 4vw}

	.prénom {margin-left: 12vw;}

	.marge-dev {margin-left: 23vw; }

	.trait-dev { margin-left: 23vw; margin-right: 38vw }

	.trait {margin-left: 4%; margin-right: 4%; }

	.marge-resp{ margin-bottom: 1%;}


} 